* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MODO OSCURO*/
body.oscuro {
  --color: rgb(251, 251, 251);
  --fondoMain: rgb(21, 32, 43);
  --colorHeader: rgb(46, 63, 75);
  --colorPanel: rgb(31, 46, 57);
  --colorInputHover: rgb(72, 87, 98);
}

/*MODO CLARO*/
body.modoClaro {
  --color: rgb(21, 32, 43);
  --fondoMain: rgb(160, 187, 214);
  --colorHeader: rgb(175, 198, 231);
  --colorPanel: rgb(154, 169, 192);
  --colorInputHover: rgb(208, 225, 236);
}

/*color BODY*/
body {
  background-color: var(--fondoMain);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}

#contendorInputFondo {
  justify-content: space-between;
  width: 100%;
}

.fondoInputs {
  background-color: var(--colorHeader);
  border: 0;
  border-radius: 0.16em;
  color: var(--color);
}

.fondoInputs:hover {
  background-color: var(--colorInputHover);
}

.contenedorInput:hover {
  background-color: var(--colorInputHover);
}

.contenedorInput {
  display: flex;
  align-content: center;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background-color: var(--colorHeader);
  width: 48%;
  padding: 4px;
}
#spanColorFondo {
  display: flex;
  font-size: 14px;
  margin-inline-start: 10px;
  text-align: center;
  margin-top: 0.1em;
}

.optionsFondo {
  width: 48%;
}

#tipoDeFondo {
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 4px;
  color: var(--color);
}

#input-url {
  border: 0;
  border-radius: 25px;
  padding: 4px;
}

#espaciado {
  width: 100%;
}
#interlineado {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons-container-alineacion {
  display: flex;
  justify-content: space-between;
  width: 48%;
}
.btn-alineacion-tamaño {
  font-size: 20px;

  width: 30%;
}
#fontSize {
  width: 48%;
}

.fontsize-alineacion {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contornoBoton {
  width: 30%;
}

.estiloInputs {
  border: 0;
  border-radius: 25px;
  padding: 4px;
}

.textarea {
  width: 100%;
}
#topText {
  width: 100%;
}

#bottomText {
  width: 100%;
}

.checkbox-texto {
  display: flex;
}

.panel-title {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.marginTop10 {
  margin-top: 10px;
}

#panel-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.panel-control-column {
  width: 48%;
}

.fontSize06 {
  font-size: 1em;
}

.paddinginputcolor {
  padding: 2px 1px;
}
/*----BOTONES----*/

.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 3px;
  outline: 0;
  color: var(--color);
}

.button:hover {
  background-color: white;
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  outline: 0;
}

#btn-download {
  background-color: rgb(43, 156, 43);
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 5px 20px rgba(68, 177, 86, 0.3);
  cursor: pointer;
}
#resetButton {
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(185, 167, 167, 0.3);
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: var(--color);
}

#claroOscuro {
  margin-left: 2px;
}

/*boton CRUZ*/

.cerrar {
  position: fixed;
  top: 15px;
  right: 40px;
  z-index: 1;
  border: 0;
  font-size: 24px;
}

/*Inicio HEADER*/

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 20px;
}

header {
  padding: 10px;
  background-color: var(--colorHeader);
  color: var(--color);
}

/* botones header */

.button {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 3px;
  transition: background-color 0.2s;
  font-size: 14px;
  cursor: pointer;
}
/* FIN HEADER*/

/*Clase OCULTAR*/

.ocultar {
  display: none;
}

main {
  background-color: var(--fondoMain);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Meme panel inicial */
#meme-image {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#meme-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25em;
}

.meme-text {
  color: var(--color);
  background-color: var(--colorPanel);
  width: 100%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* ASIDE */

.aside-position {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 40px 8px 0 10px;
  background-color: var(--colorPanel);
}

/* clases reutilizables INPUTS */
.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.margintop5 {
  margin-top: 5px;
}

#selectTipografias {
  width: 100%;
}
.paddingInputs {
  padding: 10px 5px;
}

/*estilo barra*/
input[type="range"] {
  margin-top: 5px;
  width: 100%;
  background-color: var(--colorHeader);
  border-radius: 10px;
  appearance: none;
  height: 6px;
}

input:active[type="range"] {
  margin-top: 5px;
  width: 100%;
  background-color: var(--color);
  border-radius: 10px;
  appearance: none;
  height: 6px;
}

/*estilo bolita*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgb(99, 97, 107);
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: var(--color);
  cursor: pointer;
}

input[type="color"] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px (0, 0, 0, 0.1);
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

@media only screen and (min-width: 768px) {
  #panel-image {
    width: 260px;
    height: 100%;
    justify-content: flex-start;
    top: 0;
    right: 0;
    position: fixed;
    padding: 30px 25px;
    overflow: auto;
    z-index: 10;
  }
  textarea {
    width: 25%;
  }
  #panel-text {
    width: 260px;
    height: 100%;
    justify-content: flex-start;
    top: 0;
    right: 0;
    position: fixed;
    padding: 30px 25px;
    overflow: auto;
    z-index: 10;
  }
  .aside-position {
    width: 18%;
  }
  .cerrar {
    display: none;
  }
  #meme-container {
    width: 40%;
  }
}
